@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Noto+Sans:ital,wght@1,700&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,300;1,500&family=Raleway:ital,wght@0,100;0,200;0,500;0,700;1,600&family=Roboto:ital@1&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: rgb(0, 0, 0);
	padding: 0;
	overflow-x: hidden;
}

.container {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

header {
	width: 100%;
	background-color: black;
	border-bottom: 1px solid #f231a5;
	padding-bottom: 5px;

}

header h1 {
	color: aqua;
	padding-left: 20px;
	text-align: left;
	font-size: 2rem;
}

header h2 {
	color: #ffffff;
	font-weight: 200;
	padding-left: 20px;
	text-align: left;
	font-size: 1.2rem;
}

.banner {
	display: block;
	margin-left: auto;
}

.banner img {
	width: 100%;
	height: 50em;
	margin-bottom: 20px;
}

.banner h1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background: #008da045;
	padding: 8px;
	font-weight: 300;
	border-radius: 30px;
}

h1 {
	font-size: 2rem;
	color: #f231a5;
	text-align: center;
	font-weight: 100;
	margin-bottom: 10px;
	margin-top: 10px;
}

h2 {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 300;
	color: aqua;
	text-align: center;
	margin-bottom: 30px;
}

h3 {
	margin-top: 50px;
	margin-left: 10px;
	color: #008ea0;
	font-weight: 300;
	font-size: 1.7rem;
	line-height: 1.3;
}

p {
	font-weight: 200;
	font-size: 1.2rem;
	text-align: left;
	color: #008ea0;
	margin-bottom: 30px;
	padding: 0;
	line-height: 1.5;
}

section article {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.menu {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav {
	text-align: center;
	margin-bottom: 50px;
}

nav li {
	padding: 10px;
}

nav a {
	color: #f231a5;
	font-size: 1.2rem;
	text-decoration: none;
	font-weight: 200;
}

nav a:hover {
	color: aqua;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	width: 30%;
}

.bottom a {
	font-size: 1rem;
	font-weight: 300;
	float: left;
	margin-left: 80px;
}

footer {
	background-color: black;
	display: block;
	float: left;
	width: 100%;

	border-top: 1px solid #f231a5;
}

footer p {
	font-size: 1.rem;
	color: #ffffff;
	padding: 10px;
}

footer small {
	font-size: 60%;
	display: flex;
	text-align: center;
	padding: 5px;
	color: #ffffff;
}


/*Tablet*/

@media (max-width: 769px) {

	.top h1 {
		display: block;
		float: none;
		width: 50%;
		background: #008da045;
		margin-top: 20px;
		padding: 10px;
		font-size: 1.4rem;
		font-weight: 300;
		border-radius: 30px;
	}

	.top {
		background: linear-gradient(rgba(0, 0, 0, 0.381), rgba(0, 0, 0, 0.908)), url(../images/computer-2982270_1280.jpg);
		height: 90vh;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	header h1 {
		font-size: 1.6rem;
	}

	header h2 {
		font-size: 1.2rem;
	}

	h1 {
		font-size: 1.6rem;
		color: #f231a5;
		text-align: center;
		font-weight: 100;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	h2 {
		margin-bottom: 20px;
		font-size: 15px;
		font-weight: 300;
		color: aqua;
		text-align: center;
		margin-bottom: 30px;
	}

	h3 {
		margin-top: 40px;
		color: #008ea0;
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1;
	}

	p {
		font-weight: 200;
		font-size: 1rem;
		text-align: left;
		color: #008ea0;
		margin-bottom: 20px;
		padding: 0;
		line-height: 1.5;
	}

		ul li {
		font-size: 15px;
		color: #f231a5;
	}

	section {
		padding: 0;
		margin: 0;
	}

	section article {
		display: block;
		float: left;
		width: 60%;
		margin: 10px;
	}

	section nav {
		display: block;
		float: left;
		width: 30%;
		margin-top: 30px;
		padding-left: 30px;
	}

	nav a {
		font-size: 1.0rem;
	}

	img {
		height: 60vh;
	}

	.bottom a {
		font-size: 0.7rem;
		font-weight: 300;
	}


	footer p {
		font-size: 1.rem;
		color: #008ea0;
		padding: 10px;
	}

	footer small {
		font-size: 60%;
		display: flex;
		text-align: center;
		padding: 7px;
		color: #ffffff;
	}
}

/*Smatphones*/

@media (max-width: 320px) {

	body {
		margin: 0;
		padding: 0;
	}

	.top h1 {
		display: block;
		float: none;
		width: 50%;
		background: #008da045;
		margin-top: 20px;
		padding: 10px;
		font-size: 1.2rem;
		font-weight: 300;
		border-radius: 30px;
	}

	.top {
		background: linear-gradient(rgba(0, 0, 0, 0.381), rgba(0, 0, 0, 0.908)), url(../images/computer-2982270_1280.jpg);
		height: 50vh;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	header h1 {
		font-size: 1.3rem;
	}

	header h2 {
		font-size: 1rem;
	}

	h1 {
		font-size: 1.2rem;
		margin-top: 20px;
	}

	h2 {
		font-size: 13px;
	}

	h3 {
		margin-top: 30px;
		color: #008ea0;
		font-weight: 300;
		font-size: 1rem;
		line-height: 1;
		text-align: center;
	}

	p {
		font-weight: 200;
		font-size: 1rem;
		text-align: left;
		color: #008ea0;
		margin-bottom: 20px;
		padding: 0;
		line-height: 1.5;
	}

	.container {
		margin: 0;
		padding: 0;
	}

	ul li {
		font-size: 15px;
		color: #f231a5;
		text-align: center;
	}

	section {
		padding: 0;
		margin: 0;
	}

	section article {
		display: block;
		float: none;
		width: 95%;
		margin: 10px;
		padding: 10px;
	}

	section nav {
		display: block;
		float: none;
		width: 90%;
		margin: 0;
	}

	nav a {
		font-size: 1.0rem;
	}

	.bottom a {
		font-size: 0.8rem;
		font-weight: 300;
		float: left;
		margin-bottom: 20px;
	}

	footer p {
		font-size: 0.5rem;
		color: #ffffff;
		padding: 10px;
	}

	footer small {
		font-size: 40%;
		display: flex;
		text-align: center;
		padding: 9px;
		color: #ffffff;
		font-size: 7px;
	}
}