@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Noto+Sans:ital,wght@1,700&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,300;1,500&family=Raleway:ital,wght@0,100;0,200;0,500;0,700;1,600&family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.container {
    display: block;
    float: left;
    margin: 0 auto;
    width: 100%;
}


header {
    display: block;
    float: left;
    background-color: black;
    border-bottom: 2px solid #f231a5;
    padding: 20px;
    width: 100%;

}

header h1 {
    font-weight: 300;
    color: aqua;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    background: none;
    text-align: left;
}

header h2 {
    font-size: 2rem;
    font-weight: 200;
    color: #f231a5;
    margin: 0;
    background: none;
    text-align: left;
}

h1 {
    background: #f231a562;
    font-weight: 400;
    font-size: 3.0rem;
    padding: 10px;
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.389);
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-weight: 500;
    font-size: 3rem;
    color: rgb(49, 69, 181);
    text-align: center;
    padding: 10px;
    margin: 20px 0;
    border-radius: 15px;
    background: rgba(47, 233, 233, 0.181);
}

h3 {
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(53, 64, 132);
    margin: 20px 0;
}

p {
    line-height: 1.4;
    font-weight: 300;
    margin: 10px 10px auto;
}

.button {
    display: block;
    float: none;
    color: #f231a5;
    text-decoration: none;
    text-align: center;
    background: rgba(47, 233, 233, 0.181);
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    width: auto;
    align-content: center;
    animation: vibrar 0.5s ease-in-out infinite both;
}

img {
    max-width: 100%;
    border-radius: 20px;
}

ol {
    margin-left: 30px;
}

ol li {
    font-size: 1.7rem;
    font-weight: 300;
    color: rgb(99, 99, 240);
    line-height: 1.5;
    margin-bottom: 10px;
}

section {
    display: block;
    float: left;
    background-color: #ffffff;
    font-size: 1.8rem;
    /* Equivale a 15px*/
    margin-top: 100px;
    padding: 20px;
    width: 100%;
}

section nav {
    display: block;
    float: left;
    width: 30%;
    margin-top: 60px;
}

nav li {
    margin: 1px 20px 1px 0;
    padding: 10px;
    background-color: rgba(47, 233, 233, 0.181);
    border-radius: 20px;
}

nav li:hover {
    background-color: rgba(0, 255, 255, 0.233);
}

nav a {
    font-size: 1.8rem;
    font-weight: 300;
    text-decoration: none;
    color: #254159;
}

nav a:hover {
    color: rgb(0, 0, 0);
}

section article {
    display: block;
    float: left;
    width: 50%;
    margin: 60px 50px 0;
}

footer {
    background-color: black;
    color: white;
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
    border-top: #f231a5 2px solid
}

footer .container {
    margin: 0;
}

footer p {
    color: #ffffff;
    font-size: 1.4rem;
}

footer small {
    display: block;
    font-size: 1rem;
}

@media (max-width: 769px) {

    header {
        margin: 0;
    }

    header h1 {
        font-size: 2rem;
    }

    header h2 {
        font-size: 1.5rem;
        text-align: left;
        color: #f231a5;
        padding: 0;
        margin: 15px;


    }


    h1 {
        font-weight: 300;
        font-size: 2.5rem;
        color: aqua;
        margin-bottom: 20px;
        background: rgba(0, 0, 0, 0.81);
    }

    h2 {
        font-size: 2rem;
        font-weight: 300;
        background: rgba(0, 0, 0, 0.81);
        color: aqua;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 1.7rem;
        font-weight: 300;
        text-align: center;
        background: rgba(0, 0, 0, 0.871);
        color: #f231a5;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.6rem;
        line-height: 1.5;
    }

    li {
        font-size: 1.5rem;
        font-weight: 300;
        color: rgb(99, 99, 240);
        line-height: 1.4;
        margin-bottom: 10px;
    }

    section nav {
        margin-top: 75px;
    }

    nav li {
        margin: 1px 10px 1px 0;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.181);
        border-radius: 20px;
    }

    nav li:hover {
        background-color: rgba(127, 111, 231, 0.233);
    }

    nav a {
        font-size: 1.4rem;
        font-weight: 300;
        text-decoration: none;
        color: #254159;
    }

    nav a:hover {
        color: rgb(0, 0, 0);
    }

    section article {
        display: block;
        float: left;
        width: 60%;
        margin-right: 20px;
    }
}

@media (max-width: 320px) {

    header h1 {
        padding: 0;
    }

    h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    h2 {
        font-size: 1.3rem;
        font-weight: 300;
    }

    p {
        font-size: 13px;
    }

    img {
        width: 100%;
    }

    section {
        padding: 10px;
        width: 100%;
    }

    section nav {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
        padding: 0;
    }

    section article {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    ol li {
        font-size: 13px;
    }

    footer .container {
        background: none;
    }

    footer p {
        font-size: 1rem;
    }
}